 

 <div class="row">
    <div class="col-md-4">
    </div>  
    <div class="col-md-5">
       <h2>New Task</h2> 
    </div>
</div>
<br/>


<div class="jumbotron">
    <form role="form" class="form-horizontal" ng-submit="submitNewJob()" style="text-align:right;">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2" >
                    <label class="control-label" for="method">Method</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="method" ng-model="newJob.method">
                </div>
            </div><br/>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label" for="url">URL  </label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="url" ng-model="newJob.url">
                </div>
            </div><br/>
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label"  for="url">users </label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control"  ng-model="newJob.users">
                </div>
            </div><br/>
            <div class="row">
                <div class="col-md-5">   
                    <button type="submit" class="btn btn-success " id="method" ng-click="submitNewJob() ">Start</button>
                </div>
            </div>  
        </div>
    </form>
</div>