<div id="main-content" class="width-container">
	<div id="product-content">
		<div id="product-images">
			<a id="product-image" onclick="return false;" title="Click to see next image" class="product-image"><img id="product-img" src={{imageUrl}} /></a>
			
			<div class="images-nav">
				<ul class="images-list" id="images-list">
					
					<li>
						<a class="img-selector" href="//cdn.shopify.com/s/files/1/0167/4484/products/black-mousepad-2000-new_1024x1024.jpg?v=1405453682">
							<i class="icon-circle"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="moreimageslink"><a href="#moreImages" ><i class="icon-long-arrow-down left"></i><span>MORE IMAGES BELOW</span><i class="icon-long-arrow-down right"></i></a></div>
		</div>
		<div id="product-details">
			<div class="title">
				<h2>{{productName}}</h2>
				<div class="spacer"></div>
				<h3 class="price"></h3>
				
				<style type="text/css">
				a.notify-me-when-available {
	max-width: 70%;
	margin: 0 auto;
	background-color: #89e4ac;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: .4rem;
	display: block;
	padding: 1.5rem;
	-webkit-transition: background-color 300ms ease-out, color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out, color 300ms ease-out;
	transition: background-color 300ms ease-out, color 300ms ease-out;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.5rem;
	font-family: "Proxima Nova Semibold", Lato, Helvitica, Arial, sans-serif;
	letter-spacing: .05em;
	text-transform: uppercase;
}
a.notify-me-when-available:hover {
	background-color: #00aeff;
}
a.notify-me-when-available2 {
	max-width: 70%;
	margin: 0 auto;
	background-color: #00aeff;
	cursor: pointer;
	padding-left: 1rem;
	padding-right: .4rem;
	display: block;
	padding: 1.5rem;
	-webkit-transition: background-color 300ms ease-out, color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out, color 300ms ease-out;
	transition: background-color 300ms ease-out, color 300ms ease-out;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.5rem;
	font-family: "Proxima Nova Semibold", Lato, Helvitica, Arial, sans-serif;
	letter-spacing: .05em;
	text-transform: uppercase;
}
a.notify-me-when-available2:hover {
	background-color: #89e4ac;
}
				</style>
				<a href="" class="notify-me-when-available" ng-click="commit()">Commit at {{nextPrice}}</a>
				<a href="" class="notify-me-when-available2">Buy now at {{curr_price}}</a>
				
			</div>
			<div id="inventory">
				<div>
					<div class="col-md-4 text-left nopadding">
						<h3>{{curr_price}}</h3>
					</div>
					<div>
						<div class="col-md-4 text-center">
							<h3>{{moreToGo}} more to go!</h3>
						</div>
						<div>
							<div class="col-md-4 text-right nopadding">
								<h3>{{nextPrice}}</h3>
							</div>
						</div>
						<br />
						<div class="inventory-option ">
						</div>
						<div class="inventory-bar">
							<div class="inventory-instockbar" style="width:{{100*(1 - moreToGo/maxUsers)}}%"></div>
						</div>
					</div>
					<div class="info">
						<p><span style="line-height: 1.2;"></span><p>{{description}}</p><span style="color: #e06666;"></span></p>
						<div id="moreInfo">
							<ul style="margin-left: 20px;">
								<li ph-txt="1s"></li>
								<li ph-txt="1s"></li>
								<li ph-txt="1s"></li>
								<li ph-txt="1s"></li>
							</ul>
						</div>
					</div>
				</div>
				<a href="{{quikrUrl}}">View this ad on Quikr!</a>
			</div>
		</div>
	</div>
</div>